# Our DHCP service will be providing addresses over our eth0 adapter

interface={{ dnsmasq_interface }}

# We will listen on the static IP address we declared earlier
listen-address= {{ dnsmasq_listen_address }}

# Pre-allocate a bunch of IPs on the 10.0.0.0/8 network for the Raspberry Pi nodes
# DHCP will allocate these for 12 hour leases, but will always assign the same IPs to the same Raspberry Pi
# devices, as you'll populate the MAC addresses below with those of your actual Pi ethernet interfaces

dhcp-range={{ dnsmasq_dhcp_range }},12h

# DNS nameservers
{% for server in dnsmasq_upstream_dns_servers %}
server={{ server }}
{% endfor %}

# Bind dnsmasq to the interfaces it is listening on (eth0)
bind-interfaces

# Never forward plain names (without a dot or domain part)
domain-needed

local=/{{ dnsmasq_domain_name }}/

domain={{ dnsmasq_domain_name }}

# Never forward addresses in the non-routed address spaces.
bogus-priv

# Do not use the hosts file on this machine
# expand-hosts

# Useful for debugging issues
# log-queries
# log-dhcp
{% if dnsmasq_discover_inventory %}

# DHCP configuration based on inventory
{% for host in groups['all'] %}
{% if hostvars[host].mac is defined and hostvars[host].ip is defined %}
dhcp-host={{ hostvars[host].mac }},{{ hostvars[host].ip }}
{% endif %}
{% endfor %}
{% endif %}
{% if dnsmasq_additional_dhcp_hosts.values() %}

# Adding additional DHCP hosts
{% for host in dnsmasq_additional_dhcp_hosts.values() %}
{% if host.desc is defined %}
# {{ host.desc }}
{% endif %}
{% if host.mac is defined and host.ip is defined %}
dhcp-host={{ host.mac }},{{ host.ip }}
{% endif %}
{% endfor %}
{% endif %}
{% if dnsmasq_discover_inventory %}

# DNS configuration based on inventory
{% for host in groups['all'] %}
{% if hostvars[host].hostname is defined and hostvars[host].ip is defined %}
host-record={{ hostvars[host].hostname }}.{{ dnsmasq_domain_name }},{{ hostvars[host].ip }}
{% endif %}
{% endfor %}
{% endif %}
{% if dnsmasq_additional_dns_hosts.values() %}

# Adding additional DNS
{% for host in dnsmasq_additional_dns_hosts.values() %}
{% if host.desc is defined %}
# {{ host.desc }}
{% endif %}
{% if host.hostname is defined and host.ip is defined %}
host-record={{ host.hostname }}.{{dnsmasq_domain_name }},{{ host.ip }}
{% endif %}
{% endfor %}
{% endif %}
{% if dnsmasq_enable_tftp is defined and dnsmasq_enable_tftp %}

# Enable dnsmasq's built-in TFTP server
enable-tftp
{% if dnsmasq_tftp_root is defined %}
tftp-root={{ dnsmasq_tftp_root }}
{% endif %}
{% endif %}
{% if dnsmasq_additional_conf is defined %}

{{ dnsmasq_additional_conf }}
{% endif %}
